{% extends 'base.html.twig' %}

{% block title %}Dashboard{% endblock %}
{% block stylesheets %}
    {{ encore_entry_link_tags('app') }}
        <!-- Start css -->
        <!-- Switchery css -->
        <link href="{{ asset('plugins/switchery/switchery.min.css') }}" rel="stylesheet">
        <!-- Slick css -->
        <link href="{{ asset('plugins/slick/slick.css') }}" rel="stylesheet">
        <link href="{{ asset('plugins/slick/slick-theme.css') }}" rel="stylesheet">
        <link href="{{ asset('css/bootstrap.min.css') }}" rel="stylesheet" type="text/css">
        <link href="{{ asset('css/icons.css') }}" rel="stylesheet" type="text/css">
        <link href="{{ asset('css/flag-icon.min.css') }}" rel="stylesheet" type="text/css">
        <link href="{{ asset('css/style.css') }}" rel="stylesheet" type="text/css">
        <link href="{{ asset('css/perso.css') }}" rel="stylesheet" type="text/css">
        <!-- End css -->
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/fullcalendar@5.10.2/main.min.css">
        <style>
            #calendar{
                width: 80%;
                margin: auto;
            }
        </style>
{% endblock %}   

{% block javascripts %}
    {{ encore_entry_script_tags('app') }}    
    <script src="{{ asset('js/jquery.min.js') }}"></script>
    <script src="{{ asset('js/popper.min.js') }}"></script>
    <script src="{{ asset('js/bootstrap.min.js') }}"></script>
    <script src="{{ asset('js/modernizr.min.js') }}"></script>
    <script src="{{ asset('js/detect.js') }}"></script>
    <script src="{{ asset('js/jquery.slimscroll.js') }}"></script>
    <script src="{{ asset('js/vertical-menu.js') }}"></script>

    <script src="https://cdn.jsdelivr.net/npm/fullcalendar@5.10.2/main.js"></script>
    <script>
      window.onload = () => {
          let calendarElt = document.querySelector("#calendar")
          let calendar = new FullCalendar.Calendar(calendarElt, {
              contentHeight: 300,
              initialView: 'listWeek',
              locale: 'fr',
              timeZone: 'Europe/Paris',
              headerToolbar: {
                  start: 'prev,next today',
                  center: 'title',
                  end: 'dayGridMonth,timeGridWeek'
              },
              events: {{ data|raw }},
              editable: true,
              eventResizableFromStart: true,
              businessHours: {
                // days of week. an array of zero-based day of week integers (0=Sunday)
                daysOfWeek: [ 1, 2, 3, 4, 5 ], // Monday - Friday
              
                startTime: '8:00', // a start time (9am in this example)
                endTime: '18:00', // an end time (6pm in this example)
              },
              slotMinTime: "08:00:00",
              slotMaxTime: "19:00:00",
          })
          calendar.on('eventChange', (e) => {
              let url = `/api/${e.event.id}/edit`
              let donnees = {
                  "title": e.event.title,
                  "description": e.event.extendedProps.description,
                  "start": e.event.start,
                  "end": e.event.end,
                  "backgroundColor": e.event.backgroundColor,
                  "allDay": e.event.allDay
              }
              
              let xhr = new XMLHttpRequest
              xhr.open("PUT", url)
              xhr.send(JSON.stringify(donnees))
          })
          calendar.render()
      }
  </script>
{% endblock %}

{% block body %}

<!-- Header --> 
{% if is_granted('ROLE_ADMIN') %} 
    {{ render(controller('App\\Controller\\AdminController::header')) }}
{% else %}
    {{ render(controller('App\\Controller\\SiteController::header')) }}
{% endif %}

<!-- Start Breadcrumbbar -->                    
<div class="breadcrumbbar">
    <div class="row align-items-center">
        <div class="col-md-8 col-lg-8">
            <h4 class="page-title">CRM</h4>
            <div class="breadcrumb-list">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="{{ path('site') }}">Home</a></li>
                    <li class="breadcrumb-item"><a href="{{ path('site') }}">Dashboard</a></li>
                    <li class="breadcrumb-item active" aria-current="page">CRM</li>
                </ol>
            </div>
        </div>
    </div>          
</div>
<!-- End Breadcrumbbar -->

<!-- Start Contentbar -->    
<div class="contentbar">
    <div class="col-md-6 col-lg-6">
        <div id='calendar'></div>
    </div>
</div>
<!-- End Contentbar -->

<!-- Footer --> 
{% include 'site/footer-user.html.twig' %}   

{% endblock %}


